node_modules
.env
ffu.db
backend/ffu.db
backend/__pycache__/
.DS_Store
backend/ffu.db-journal

# Python
backend/bin/
backend/lib/
backend/include/
backend/pyvenv.cfg
__pycache__/
*.pyc
ffunew.db
ffu.db

# Frontend
frontend/node_modules/
